<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edumantra</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1225px)" href="/phone.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
    </style>
</head>
<body>
    <nav class="navbar background h-nav">
        <ul class="navlist v-nav">
            <div class="logo">
                <img src="/logo.jpg" alt="logo" >
            </div>
            
            <li><a href="/">Home</a></li>
            <li><a href="#about">About </a></li>
            <li><a href="#services">Services </a></li>
            <li><a href="#contact">Contact </a></li>
        </ul>
        <div class="rightnav v-nav">
            <input type="text" name="search" id=search >
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background firstsec">
        <div class="mainbox" id="about">
            <div class="firsthalf">
                <p class="bigtext">The Future of Education is here</p>
                <p class="smalltext">In this world of 7 billion people we need to educate all
                    of them.This is the future of an education world and we are 
                    pround to say that the Future Education Is Here.
                </p>
                <div class="buttons">
                    <button class="btn">Subscribe</button>
                    <button class="btn">Watch Vedio</button>
                </div>
            </div>
            <div class="secondhalf">
                <img src="/pic.jpg" alt="classroom">
            </div>
        </div>
    </section>
    <section class="sectionTwo" id="services">
    <section class="sections ">
        <div class="paras">
            <p class="sectionTag bigtext">The End of your Search is here</p>
            <p class="sectionSubTag smalltext">Every individual wants to receive the best of education to achieve his or her dreams. However, 
                the more the institution is good, the higher the fees they charge. Students usually leave their education incomplete and do blue
                collar jobs to meet their basic ends. Moreover, these students collect money to complete their masters later in career. Apart 
                from those who can afford expensive higher education, some handful of students gets scholarships.<br>What you know matters more than 
                from where you have learnt. Nowadays, agencies hire students on the basis of 
                their knowledge and ability to solve problems, keeping aside their grades or degrees.  </p>
            </div>
            <div class="thumbnail">
                <img src="https://source.unsplash.com/250x250/?coding" alt="laptop pic" class="imgfluid">
            </div>
            
        </section>
        <hr>
        <section class="sections left">
            <div class="paras">
                <p class="sectionTag bigtext">Transforming Education in India</p>
                <p class="sectionSubTag smalltext">As a new student, you’ll need to learn a lot of new information pretty fast or risk being clueless,
                    penniless, and more than a bit confused about independent student life.
                    <br> This is where the internet steps in, a realm of student resources with bountiful information about anything, where you can 
                    learn the things your parents never taught you (or that you weren’t interested in learning at the time), such as how to budget 
                    your money, how to arrange an overdraft with your bank, and how to iron your clothes without leaving an iron-shaped pattern. 
                    In short, all the student resources you could ever possibly need are available online.</p>
                </div>
                <div class="thumbnail">
                    <img src="https://source.unsplash.com/250x250/?coding,laptop" alt="laptop pic" class="imgfluid">
                </div>
            </section>
            <hr>
            <section class="sections" >
                <div class="paras">
                    <p class="sectionTag bigtext">Lets Grow Together</p>
                    <p class="sectionSubTag smalltext">Thanks to the power of the internet, education is becoming more accessible and affordable than 
                        ever before. As long as you have the connection, you can pick an educational program or training course to your liking and become 
                        a specialist in a specific field without even leaving your home.
                        <br>For those who do have access to the right technology, there is
                        evidence that learning online can be more effective in a number of ways. Some research shows that on average, students retain 
                        25-60% more material when learning online compared to only 8-10% in a classroom. This is mostly due to the students being able
                        to learn faster online; e-learning requires 40-60% less time to learn than in a traditional classroom setting because students\
                        can learn at their own pace, going back and re-reading, skipping, or accelerating through concepts as they choose.
                    </p>
                </div>
                <div class="thumbnail">
                    <img src="https://source.unsplash.com/250x250/?education,classroom" alt="laptop pic" class="imgfluid">
                </div>
    </section>
</section>
<hr><hr>
<section class="contact" id="contact">
    <h2>Contact Us</h2>
    <div class="form" >
        <form action="/" method="POST">
        <input type="text" id="name" name="name" class="form-input" placeholder="Enter your name" required>
        <input type="email" id="email" name="email" class="form-input" placeholder="Enter your email" required>
        <input type="number" id="number" name="number" class="form-input" placeholder="Enter contact number" required>
        <textarea class="form-input" name="textarea" id="text" cols="30" rows="10" placeholder="Tell Us Your Fields of Interest" required></textarea>
        <input type="submit"  class="btn btn-dark">
    </form>
    </div>
    
</section>
<footer class="background">
    <p class="text-footer">
        Copyright &copy; 2027 www.EduMantra.com-All rights Reserved
    </p>
    
</footer>
<script src="/resp.js"></script>
</body>
</html>